<link type="text/css" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav items">
        <li class="nav-item active">
          <a class="nav-link" style="font-size:25px; color: #555;" th:href="@{/api/{username}/home(username=${username})}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size:25px; color: #555;" th:href="@{/api/{username}/material(username=${username})}">Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size:25px; color: #555;" th:href="@{/api/{username}/quizzes(username=${username})}">Quiz</a>
        </li>
      </ul>
    </div>
    <a th:href="@{/api/{username}/dashboard(username=${username})}" class="btn btn-outline-primary my-2 my-sm-0 d-flex align-items-center">
      <img src="/account.png" alt="Profile Photo" class="rounded-circle" width="30" height="30">
    </a>
    <a th:href="@{/logout}" class="btn btn-outline-primary my-2 ml-2 my-sm-0 d-flex align-items-center">
      <img src="/logout.png" alt="Logout" width="30" height="30">
    </a>
  </nav>
</div>