<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="icon" type="image/x-icon" href="/python-logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body style="background-color: #B0C4DE">
<div class="container mt-5">
    <img src="/python.png" alt="Python Image">
  <h1>Welcome to the Python Learning Platform</h1>
    <br><br><br><br>
  <p style="font-size:25px;">
    The goal of this site is to learn Python and test your knowledge through quizzes.
    Your learning journey will be personalized according to your weaknesses and strengths.
  </p>

</div>
</body>
</html>