<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/python-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body style="background-color: #B0C4DE">
<div class="row justify-content-center align-items-center" style="margin-top:25px;">
<div>
    <h2>Login</h2><br>
    <div th:if="${errorMessage}" class="alert alert-danger" style="width:300px;">
        <img src="/error.png" alt="Error" width="20" height="20">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/api/login}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username" style="font-size:20px;">Username:</label>
            <input th:field="*{username}" type="text" id="username" name="username" class="form-control" style="width: 300px;" required>
        </div>
        <div class="form-group">
            <label for="password" style="font-size:20px;">Password:</label>
            <input th:field="*{password}" type="password" id="password" name="password" class="form-control" style="width: 300px;" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button><br><br>
    </form>
    <div>
        <p class="form-footer">Don't have an account? <a th:href="@{/api/signup}">Register here.</a></p>
    </div>
</div>
</div>
</body>
</html>
